body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333; /* Dark background color */
    margin: 0;
    padding: 0;
    color: #fff; /* Text color */
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #444; /* Dark container background color */
}

h2 {
    text-align: center;
    color: #fff; /* Heading color */
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #555;
    color: #fff;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #b6895b;
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.success-message {
    color: #b6895b;
    font-size: 1em;
    margin-top: 10px;
}